<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586996538184-kjc1kk7l3go4t54qrqnmsri6s8h0h7oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586996538184-kjc1kk7l3go4t54qrqnmsri6s8h0h7oi</string>
	<key>API_KEY</key>
	<string>AIzaSyCHbUAdMxvr0oSCKjrtiOEriHs-elSV5uk</string>
	<key>GCM_SENDER_ID</key>
	<string>586996538184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butkii.QuickNote</string>
	<key>PROJECT_ID</key>
	<string>QuickNote-butkii</string>
	<key>STORAGE_BUCKET</key>
	<string>QuickNote-butkii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586996538184:ios:64b52d3b7e38293300f17d</string>
</dict>
</plist>